<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704503689517-4v8ji1rord8pcsvb96n022te11lo384n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704503689517-4v8ji1rord8pcsvb96n022te11lo384n</string>
	<key>API_KEY</key>
	<string>AIzaSyBwoVEO-J9qBx-0ZoKKUosir4ItkMaDorw</string>
	<key>GCM_SENDER_ID</key>
	<string>704503689517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flourishWeb</string>
	<key>PROJECT_ID</key>
	<string>flourish-web-fa343</string>
	<key>STORAGE_BUCKET</key>
	<string>flourish-web-fa343.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704503689517:ios:1e37df82324fcf9e13e3a4</string>
</dict>
</plist>